# <center>Лабораторна робота № 1.<br> Аналіз даних про доходи населення</center>

**В завданні пропонується за допомогою Pandas відповісти на декілька питань за даними репозиторія UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качати дані не потрібно – вони вже є в директорії роботи).

Унікальні значення ознак (більше інформації за посиланням вище):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [4]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("lab1/data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Скільки чоловіків і жінок (ознака *sex*) представлено в цьому наборі даних?**

In [6]:
sex_counts = data['sex'].value_counts()
print("Number of males and females:\n")

print(f"Males: {sex_counts['Male']}")
print(f"Females: {sex_counts['Female']}")

Number of males and females:

Males: 21790
Females: 10771

**2. Який середній вік (ознака *age*) жінок?**

In [7]:
female_avg_age = data[data['sex'] == 'Female']['age'].mean()
print(f"Average age of females: {female_avg_age:.2f} years")

Average age of females: 36.86 years

**3. Яка частка громадян Німеччини (ознака *native-country*)?**

In [8]:
germans = data[data['native-country'] == 'Germany']
german_percentage = (len(germans) / len(data)) * 100
print(f"Number of German citizens: {len(germans)}")
print(f"Percentage of German citizens: {german_percentage:.2f}%")

Number of German citizens: 137
Percentage of German citizens: 0.42%

**4-5. Які середні значення і середні відхилення віку тих, хто отримує більше 50K в рік (ознака *salary*) і тих, хто отримує менше 50K в рік? **

In [9]:
high_income = data[data['salary'] == '>50K']['age']
low_income = data[data['salary'] == '<=50K']['age']

print("Age statistics for high income (>50K):")
print(f"Mean: {high_income.mean():.2f}")
print(f"Standard Deviation: {high_income.std():.2f}")

print("\nAge statistics for low income (<=50K):")
print(f"Mean: {low_income.mean():.2f}")
print(f"Standard Deviation: {low_income.std():.2f}")

Age statistics for high income (>50K):
Mean: 44.25
Standard Deviation: 10.52

Age statistics for low income (<=50K):
Mean: 36.78
Standard Deviation: 14.02

**6. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (ознака *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* чи *Doctorate*)**

In [10]:
high_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
high_income_people = data[data['salary'] == '>50K']

all_have_higher_education = high_income_people['education'].isin(high_education).all()

print(f"All high-income people have higher education: {all_have_higher_education}")

if not all_have_higher_education:
    non_higher_education = high_income_people[~high_income_people['education'].isin(high_education)]['education'].value_counts()
    print(f"\nHigh-income people without higher education:")
    print(non_higher_education)

All high-income people have higher education: False

High-income people without higher education:
education
HS-grad         1675
Some-college    1387
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: count, dtype: int64

**7. Вивести статистику віку для кажної раси (ознака *race*) і кожної статі. Використовуйте *groupby* і *describe*. Знайдіть таким чином максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

In [11]:
age_stats = data.groupby(['race', 'sex'])['age'].describe()
print("Age statistics by race and sex:")
print(age_stats)

Age statistics by race and sex:
                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [12]:
# From the statistics, we can see that this value is equal to 82. But let's make sure of this.

amer_indian_males = data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')]
max_age_amer_indian_males = amer_indian_males['age'].max()

print(f"\nMaximum age of Amer-Indian-Eskimo males: {max_age_amer_indian_males}")

Maximum age of Amer-Indian-Eskimo males: 82

**8. Серед кого більша частка заробляючих багато (>50K): серед одружених чи холостих чоловіків (ознака *marital-status*)? Одруженими вважаємо тих, у кого *marital-status* починається з *Married* (Married-civ-spouse, Married-spouse-absent чи Married-AF-spouse), решту вважаємо холостими.**

In [13]:
males = data[data['sex'] == 'Male']

married_males = males[males['marital-status'].str.startswith('Married')]
single_males = males[~males['marital-status'].str.startswith('Married')]

married_high_income = married_males[married_males['salary'] == '>50K']
single_high_income = single_males[single_males['salary'] == '>50K']

married_high_income_rate = (len(married_high_income) / len(married_males)) * 100
single_high_income_rate = (len(single_high_income) / len(single_males)) * 100

print(f"Married males high income rate: {married_high_income_rate:.2f}%")
print(f"Single males high income rate: {single_high_income_rate:.2f}%")

if married_high_income_rate > single_high_income_rate:
    print("Married males have higher percentage of high earners")
else:
    print("Single males have higher percentage of high earners")

Married males high income rate: 44.05%
Single males high income rate: 8.45%
Married males have higher percentage of high earners

**9. Яку максимальну кількість годин людина працює за тиждень (ознака *hours-per-week*)? Скільки людей працюють таку кількість годин і який серед них відсоток заробляючих багато?**

In [14]:
max_hours = data['hours-per-week'].max()
print(f"Maximum hours per week: {max_hours}")

people_working_max_hours = data[data['hours-per-week'] == max_hours]
total_people_working_max_hours = len(people_working_max_hours)
print(f"Number of people working {max_hours} hours: {total_people_working_max_hours}")

high_earners_among_max_hours = people_working_max_hours[people_working_max_hours['salary'] == '>50K']
percentage_high_earners = (len(high_earners_among_max_hours) / total_people_working_max_hours) * 100
print(f"Percentage of high earners among them: {percentage_high_earners:.2f}%")

Maximum hours per week: 99
Number of people working 99 hours: 85
Percentage of high earners among them: 29.41%

**10. Підрахуйте середній час роботи (*hours-per-week*) заробляючих мало і багато (*salary*) для кожної країни (*native-country*).**

In [15]:
avg_hours_by_country_salary = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()
print("Average working hours by country and salary level:")
print(avg_hours_by_country_salary)

Average working hours by country and salary level:
native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64